#mainHeader {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(25%, 0%, 25%);
    color: aliceblue;
    padding: 10px;
}

body{
    background-image: url("../images/bodyBackground01.png")
}

#triviaStartup {
    border: 10px solid black;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.container img {
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: auto;
}

.questionmark {
    font-size:200px;
    color:black;
    text-align:center;
}

.countdown {
    font-size:200px;
    color:black;
    text-align:center;
}

.buttonStart{
    background:url("../images/questionmark.png") no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.buttonStart:active  /* use Dot here */
{   
    background:url("assets/images/questionmark.png") no-repeat;
}

#instruction {
    border-radius: 10px;
    margin: 10px 20px 0px 20px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: rgb(25%, 75%, 80%);
}

.questionChoices {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#timer {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
