<!--Create Main Header-->
<div class="jumbotron jumbotron-fluid" id="mainHeader">
    <img src="../assets/img/burger.png" width="150px;" height= "150px;" alt="Burger">
    <h1>Crazy Burger!</h1>
    <h4>Your Favorite Most Pointless Burger App!</h4>
</div>

<!--Devoured vs not Devoured: runs through db and populates-->
<div class="container">
    <div class="row">
        <!--Burgers Available-->
        <div class="col-md-6">

            <h3>Burgers Ready to Eat!</h3>

            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            {{this.burger_name}}

                            <form>
                                <input type="hidden" name="devoured" value="true">
                                <button class="devourForm" data-id="{{this.id}}" id="newBurg" type="submit">Eat Me!</button>
                            </form>
                            <br>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>

        </div>

        <!--Burgers that are already consumed-->
        <div class="col-md-6">
            <h3>Burgers Already Consumed!</h3>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>
                            {{this.burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
        </div>
    </div>

    <!--Allow user to create a burger-->
    <div class="row">
        <div class="col-md-12">

            <h3>Create a Burger!</h3>

            <form>
                <label>Burger Name: </label>
                <input type="text" id="burg" name="burg_name"> 
                <button class="newburgForm" type="submit">Submit New Burger</button>
            </form>
        </div>
    </div>
</div>