body {
    background-color: whitesmoke;
}

button {
    margin: 10px;
}

#GIF_col_Ouput {
    margin-left: 10px;
    border-radius: 10px;
}

#Favorites {
    color: black;
    text-align: center;
    border-radius: 100px;
    font-size: 20px;
    padding: 2px;
    background-color: aliceblue;
    border: black 1px solid;
    margin-top: 10px;
}

img.animatedGif{
    width: 75%;
    height: 75%;
    margin-left: 10px;
}

#GifHead {
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

#GifHeadLine {
    text-align: center;
    border: 1px solid black;
}

#paddingReduction {
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: rgb(67, 10, 255);
    color: aliceblue;
    position: relative;
}