body {
    background-color: gainsboro;
}

button {
    margin: 10px;
}

#GIF_col_Ouput {
    margin-left: 10px;
}

#Favorites {
    color: whitesmoke;
    text-align: center;
}

img.animatedGif{
    width: 75%;
    height: 75%;
    margin-left: 10px;
}