/*Main Page*/
#MainHead {
    padding:30px 0px 0px 0px;
    background-image: url(../images/background03.png);
    margin-bottom: 20px;
}

#MainBody{
    background-color: slategrey;
}

div.container4 {
    margin-top: 30px;
    height: 1em;
    position: relative;
    width: 100%;
    background-color: rgb(216, 209, 209);
    border: .5px solid black;
}

div.container4 p {
    margin-top: -15px;
    background: whitesmoke;
    border: #8d8c8c 1px solid;
    position: absolute;
    font-size: 36px;
    top: 5%;
    margin-left: 42%;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    left: 50%;
}


#MainButtons {
    text-align: center;
    margin-top: 10px;
}

#butAdd {
    margin: 10px 10px 20px 10px;
    padding: 10px 5px 40px 5px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0 3px 0 0 #007299;
    width: 200px;
    padding-right: 20px; 
    color: #fff!important;
}

#MS{
    margin-right: 100px;
}

footer {
    float: left;
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: 0px;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 75%;
    padding-top: 10px;
}


/*Overview Page*/
#OverviewHead{
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    background-color: black;
}

#OverviewBody{
    background-color: whitesmoke;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgb(158, 95, 95);
  }
   
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: rgb(51, 86, 182);
  }
   
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(158, 95, 95) transparent transparent; 
  }

  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgb(158, 95, 95);
  }


  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
  }

  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
     
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
     
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
     
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
    }
  }

#LineStyle{
  background-color: black;
  color: aliceblue;
  padding: 10px 100px 10px 0px;
}

@media screen and (max-width: 1100px) {
  div.container4 p {
  margin-left: 38%;
  }
}

@media screen and (max-width: 700px) {
  div.container4 p {
  margin-left: 32%;
  }
}

@media screen and (max-width: 900px) {
  #MS{
    margin-right: 0px;
  }
}

/*Contact Page*/
#ContactInfo{
  background-color: rgb(245, 247, 247);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}