.Title {
    background-image: url('../images/IndyTitleBackground.png');
    padding: 40px 0px 40px 0px;
    background-size: 100% 100%;
}

#PrimaryBackground {
    background-image: url('../images/GameBackground02.png');
    background-size: cover;
}


#titleImage {
    height: 60%;
    width: 75%;
    border: 2px solid black;
    border-radius: 4px; 
    transform: skew(20deg);
}

#Backdrop01 {
    /*background-color: aliceblue;*/
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border-color: 1px whitesmoke;
    border-style: dotted;
}

#Backdrop02 {
    margin:30px 0px 20px 0px;
    background-color: aliceblue;
    border-color: 1px whitesmoke;
    border-radius: 10px;
    padding: 10px;
    border-style: ridge;
}

#Stats{
    background-color: gainsboro;
    position: relative;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

#objectImages {
    height: 20px;
    width: 20px;
    
}

#GameSpacing {
    margin-top:20px;
}

